#media
{
    background-color: aquamarine;
    float: left;
    position: relative;
    width: 100%;
}

#junglebook
{
    float: left;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    background-color: rgb(176, 252, 227);
    margin-left: 130px;
}

.bookplayer
{
    background-color: rgb(115, 248, 204);
    float: left;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;
    position: relative;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

#bookmedia
{
    box-shadow: none !important;
}

#sabrina
{
    float: left;
    margin: 0 auto;
    background-color: rgb(176, 252, 227);
    position: relative;
    padding-top: 30px;
    margin-left: 130px;
}

#abba
{
    float: left;
    position: relative;
    margin: 0 auto;
    margin-left: 130px;
    background-color: rgb(176, 252, 227);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgb(171, 216, 253);
    padding: 30px;

}